/* Estilo para la alerta flotante */
.floating-alert {
    position: fixed;
    top: 125px; /* Puedes ajustar la posición vertical */
    right: 200px; /* Puedes ajustar la posición horizontal */
    background-color: #28a745; /* Color de fondo verde (puedes ajustar el color) */
    color: #fff; /* Color del texto */
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999; /* Asegura que esté en la parte superior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a72859;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeInOut 3s forwards; /* Cambiar la duración de la animación según sea necesario */
  }
  
  .success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeInOut 3s forwards; /* Cambiar la duración de la animación según sea necesario */
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.animation {
  text-align: left; 
font-family: Arial Black; 
font-weight: bold; font-size: 30px; 
background: #000000; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.256),0px -1px 1px rgba(0, 0, 0, 0);
}
  
  
  

  
 
